$default-box-shadow-h-offset : 0px;
@import "less/framework";
@import "compass/css3/box-shadow";

body {
    background-color: #f6f6f6;
}
#metacontainer{
    border-bottom: 1px solid #888;
}
body > header {
    margin: 0;
    color: #CCC;
    background-color: #333;
    line-height: 50px;
    font-weight: bold;
    @include box-shadow();
}
body > footer {
    border-top: solid 2px #CCC;
    border-bottom: solid 1px #888;
    padding: 80px;
    margin: 0;
    bottom: 0;
    background-color: #D0D0D0;
    font-size: .9em;
    text-shadow: 1px 1px #fff;
    @include box-shadow(#888);
}
nav ul {
    list-style-type: none;
}
nav ul li { 
    display: inline-block; 
    height: 50px;
    margin-right: -4px;
    border-left: solid 1px #555;
    border-right: solid 1px #111;
}
nav ul li a { color: #CCC; 
            text-decoration: none;
            display: inline-block;
            margin-right: 0px;
            margin-left: 0px;
            text-shadow: -1px -1px #222, 1px 1px #222;
            padding: 0 10px; 
            height: 100%; }
nav ul li a:hover { 
    color: #EEE;
    background-color: rgba(255,255,255,0.1);
}
#main {
    margin: 0px auto;
}
#container {
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Optima, sans-serif;
    text-shadow: -1px -1px 1px #333, 1px 1px 1px #FFF;
    color: #888;
}
