@import "blueprint/debug"
@import "blueprint/buttons"

$default-transition-duration: .2s
@import "compass/css3/transition"

@import compass/css3/border-radius
@import compass/css3/box-shadow
@import compass/css3/text-shadow

$ycolorb: #EFEFF4
$ycolorc: #E3E5ED
$ycolor0: #C9CEDE
$ycolor1: #B4B8C5 
$ycolor2: #9CA1AD 
$ycolor3: #868B96 
$ycolor4: #60646C 
$ycolor5: #51555C 
$ycolor6: #41444A 
$ycolor7: #303237 
$ycolor8: #1F2024 
$ycolor9: #0F1011

$higlightcolor:  #28C
$higlightcolor-shadow:  #058
$higlightcolor-reflect:  #6AF

$main-background-color: $ycolor1


// Background colors
body
  background: $main-background-color
  &.bp 
    margin-top: 30px
    background: $main-background-color
    h1,h2,h3,h4,h5,h6
      color: $ycolor4
      font-weight: bold
      letter-spacing: -0.05em
      +text-shadow($ycolor6 -1px -1px 0px,$ycolorb 0px 1px 0px )
      a:hover
        +text-shadow($ycolor6 -1px -1px 0px ,$ycolorb 0px 1px 0px ,rgba(#30F,0.7) 0 0 1px  )
    a
      text-decoration: none
      color: $ycolor4
      &:visited
        color: $ycolor4
      &:hover, &:active
        color: $higlightcolor

// Transition for all elements
* 
  +transition

=debugblock
  +box-shadow(#FFF 0 0 3px, rgba(#000,0.2) 0 0 3px inset)
  background: rgba(#EA6,0.08)

// *
//   +debugblock

// large container
#container
  width: span(24)
  margin: 0 auto
  // +showgrid

a
  text-decoration: none

h1
  text-align: center

=innerblock
  background-color: rgba(#000,0.02)
  +box-shadow(#FFF 0 0 3px, rgba(#000,0.2) 0 0 3px inset)
  +border-radius()
  & > *
    padding: 20px

.block
  +column(6)
  +prepend-top(10px)
  +append-bottom(20px)
  +innerblock
  margin-right: +span(1)
  &:hover
    background-color: rgba(#000,0.05)

=ybutton
  text-align: center
  text-size: 14px
  padding: 3px
  +text-shadow(rgba(#000,0.5) 0px -1px 0px,rgba(#FFF,0.5) 0px 1px 0px )
  +button-base
  +border-radius(3px)
  +button-colors($ycolor0, rgba(#000,0.2), rgba(#000,0.3), rgba(#FFF,0.5))
  &:hover
    +text-shadow(#38C 0 0 3px, rgba(#000,0.5) 0px -1px 0px,rgba(#FFF,0.5) 0px 1px 0px )
    +button-colors($ycolorb, rgba(#000,0.3), rgba(#000,0.5), rgba(#FFF,0.5))

#choixlang
  +column(4)
  a
    width: 100%
    +ybutton

#mainlinks
  +push(3)

#choixrss
  text-align: right
  +push(3)
  +push(16)
  +column(4)
  +last
  a
    width: 100%
    +ybutton

#mainnav
  ul
    padding-left: 0
    list-style-type: none
    +column(24)
    +last
    margin: 0 auto
    li
      +column(6)
      *
        display: block
        text-align: center
        width: 100%
footer
  +column(24)
  +last

.flush
  clear: both
