/* line 10, ../src/main.sass */
* {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* line 21, ../src/main.sass */
#container {
  width: 950px;
  margin: 0 auto;
}

/* line 26, ../src/main.sass */
a {
  text-decoration: none;
}

/* line 29, ../src/main.sass */
h1 {
  text-align: center;
}

/* line 39, ../src/main.sass */
.block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.02);
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .block {
  overflow-x: hidden;
}
/* line 36, ../src/main.sass */
.block > * {
  padding: 20px;
}
/* line 42, ../src/main.sass */
.block:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 45, ../src/main.sass */
#choixlang {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #choixlang {
  overflow-x: hidden;
}

/* line 48, ../src/main.sass */
#choixrss {
  text-align: right;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -640px 1.5em 640px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-right: 0;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #choixrss {
  overflow-x: hidden;
}

/* line 55, ../src/main.sass */
#mainnav ul {
  padding-left: 0;
  list-style-type: none;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
  margin: 0 auto;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav ul {
  overflow-x: hidden;
}
/* line 61, ../src/main.sass */
#mainnav ul li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav ul li {
  overflow-x: hidden;
}
/* line 63, ../src/main.sass */
#mainnav ul li * {
  display: block;
  text-align: center;
  width: 100%;
}

/* line 67, ../src/main.sass */
footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
}
/* line 147, ../../../../../../var/lib/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer {
  overflow-x: hidden;
}

/* line 71, ../src/main.sass */
.flush {
  clear: both;
}
