@import "compass/css3/text-shadow" ;;
/* line 26, ../src/main.sass */
body {
  background: #efeff4;
}
/* line 29, ../src/main.sass */
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  color: ycolor0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
/* line 32, ../src/main.sass */
body.bp a {
  text-decoration: none;
  color: #c9cede;
}
/* line 35, ../src/main.sass */
body.bp a:visited {
  color: #c9cede;
}
/* line 37, ../src/main.sass */
body.bp a:hover, body.bp a:active {
  color: #dd8866;
}

/* line 43, ../src/main.sass */
* {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

/* line 54, ../src/main.sass */
#container {
  width: 950px;
  margin: 0 auto;
}

/* line 59, ../src/main.sass */
a {
  text-decoration: none;
}

/* line 62, ../src/main.sass */
h1 {
  text-align: center;
}

/* line 72, ../src/main.sass */
.block {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
  background-color: rgba(0, 0, 0, 0.02);
  -moz-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -webkit-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -o-box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  box-shadow: white 0 0 3px, rgba(0, 0, 0, 0.2) 0 0 3px inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .block {
  overflow-x: hidden;
}
/* line 69, ../src/main.sass */
.block > * {
  padding: 20px;
}
/* line 75, ../src/main.sass */
.block:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 78, ../src/main.sass */
#choixlang {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #choixlang {
  overflow-x: hidden;
}

/* line 81, ../src/main.sass */
#choixrss {
  text-align: right;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -640px 1.5em 640px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-right: 0;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #choixrss {
  overflow-x: hidden;
}

/* line 88, ../src/main.sass */
#mainnav ul {
  padding-left: 0;
  list-style-type: none;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
  margin: 0 auto;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav ul {
  overflow-x: hidden;
}
/* line 94, ../src/main.sass */
#mainnav ul li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #mainnav ul li {
  overflow-x: hidden;
}
/* line 96, ../src/main.sass */
#mainnav ul li * {
  display: block;
  text-align: center;
  width: 100%;
}

/* line 100, ../src/main.sass */
footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin-right: 0;
}
/* line 147, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html footer {
  overflow-x: hidden;
}

/* line 104, ../src/main.sass */
.flush {
  clear: both;
}
