<% language, languages, blog, article = setItemConf %><!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!-- 
    Copyright ©Yann Esposito 2011
    Extended from HTML5boilerplate
  -->
  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= @item[:title] %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <%= meta_tags %>


  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="<%=@config[:webprefix]%>/img/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/css/less.css"/>
  <link href='http://fonts.googleapis.com/css?family=Expletus+Sans:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Kreon:regular,bold' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/main.css">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/js/libs/modernizr-1.7.min.js"></script>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= @config[:rss_uri][language.intern] %>"/>

</head>

<body lang="<%= language %>">
  <header>
    <div id="choixrss"><%= choixrss %></div>
    <div id="choixlang"><%= choixlang %></div>
    <nav id="mainnav">
        <ul>
            <%= generateMenu %>
        </ul>
    </nav>
  </header>
  <div id="metacontainer">
    <div id="container">

      <div id="main" role="main">
        <hgroup>
          <h1><%= @item[:content_for_title].nil? ? @item[:title] : @item[:content_for_title] %></h1>
          <% unless @item[:subtitle].nil? and @item[:content_for_subtitle].nil? %> 
          <h2>
          <%= @item[:content_for_subtitle].nil? ? @item[:subtitle] : @item[:content_for_subtitle] %>
          </h2>
          <% end %>
        </hgroup>
        
        <article>
            <div class="content">
                <%= yield %>
            </div>
            <footer>
                <ul class="article_metadata">
                    <li><%=tradOf(:created_at)%>: <time><%= @item[:created_at].strftime(@config[:dateFormat][language.intern]) %></time></li>
                    <li><%=tradOf(:last_modified)%>: <time> <%= gitmtime.strftime(@config[:dateFormat][language.intern]) %></time></li>
                    <li><%=tradOf(:copyright) %></li>
                </ul>
            </footer>
        </article>

      </div>
      <div id="related_articles">
        <div id="previous_articles">
            <h4> <%= tradOf(:previousArticles) %> </h4>
            <% 
               (1..3).each do |n|
               a=article_brother(-n)
               if not a.nil?
           %>
            <div class="previous_article">
              <%= link_to( %{<span class="nicer">«</span>&nbsp;}+ a[:title], a)  %>
            </div>
            <% end %>
          <% end %>
        </div>
        <div id="next_articles">
            <h4><%= tradOf(:nextArticles) %></h4>
        <% 
           (1..3).each do |n|
              a=article_brother(n)
              if not a.nil?
        %>
                <div class="next_article">
                    <%= link_to(a[:title] + %{&nbsp;<span class="nicer">»</span>}, a)  %>
                </div>
                <% end %>
            <% end %>
        </div>
        <div class="flush"></div>
      </div>

    </div> <!--! end of #container -->
  </div> <!--! end of #metacontainer -->
  <footer>
    <div id="webpageinfo">
        <%=tradOf(:copyright) %>
        <div>
            <%= tradOf(:entirely_done_with) %>
            <a href="http://www.vim.org">Vim</a>
            <%= tradOf(:and) %> 
            <a href="http://nanoc.stoneship.org">nanoc</a>
        </div>
    </div>
  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="/js/plugins.js"></script>
  <script src="/js/script.js"></script>
  <%= @item[:content_for_js] %>
  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="/js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-10612400-2"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

  <%= clicky_analytics %>
  <%= user_voice %>
</body>
</html>
